* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

nav {
    background-color: #528fac;
    color: white;
    height: 4.5rem;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.nav-content h1 {
    margin-left: 4rem;
}

.nav-content input {
    margin-right: 5rem;
    border: solid transparent;
    border-radius: 1.5rem;
    width: 20rem;
    padding: 0.2rem;
}

input::placeholder {
    padding-left: 1rem;
}

/* SECTION */
.sidebar {
    display: flex;
    justify-content: center;
    background-color: #72ACC6;
    width: 13rem;
    height: 100vh;
}

.menu {
    margin-top: 3rem;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, 
.active {
    background-color: white;
}

.menu a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
}