* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: row;
}

/* ASIDE */
aside {
  width: fit-content;
}
.sidebar {
  background-color: #72ACC6;
  width: 13rem;
  height: 100%;
}

.menu {
  margin-top: 5rem;
  list-style: none;
  padding: 0;
}

.menu li {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 10.5rem;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1.2rem 0 0 1.2rem;
  background-color: white;
}

.menu li>img {
  width: 1.8rem;
}

.menu a {
  display: flex;
  align-items: center;
  color: #72ACC6;
  font-size: 1rem;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo h1 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  color: white;
}

main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(218, 218, 218);
  overflow-x: hidden;
}

/* SECTION-DASHBOARD */
#dashboard {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.header-dashboard {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

#dashboard h1{
  font-size: 1.3rem;
  color: #3C89AA;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Kolom dengan lebar minimal 200px, dan mengisi fraksi dari sisa ruang */
  grid-gap: 20px; /* Ruang antar item-grid */
  align-items: center; /* Penempatan konten secara vertikal di tengah */
  justify-content: center; /* Penempatan item-grid secara horizontal di tengah */
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  width: 7rem;
  padding: 0.5rem;
  border: solid transparent;
  border-radius: 2rem;

  color: rgb(191, 191, 191);
}

.dropdown:hover .dropbtn {
  background-color: #72ACC6;
  color: white;
}


#chart0 {
  background-color: white;
}

#chart1 {
  background-color: white;
}

#chart2 {
  height: 15rem;
  width: 22rem;
  background-color: white;
  text-align: left;
  border-radius: 1rem;
}
.colspan {
  text-align: center;
  border-radius: 1rem 1rem 0 0 ;
}
th, td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

#chart3{
  background-color: white;
  border-radius: 1rem;
}

#chart4{
  height: 15rem;
  width: 22rem;
  margin-top: 1.2rem;
  background-color: white;
}

.info_data{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info_data .card {
  padding: 30px;
  border-radius: 10px;
  background-color: #69a9fe;
  opacity: 0.6;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}

.filtering{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filtering .filter {
  padding: 10px;
  border-radius: 15px;
  background-color: #69a9fe;
  opacity: 0.6;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
  margin: 10px;
}

/* SECTION-MONITORING DATA */
#monitoringData {
  padding: 5rem;
}

#monitoringData h1{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color: #3C89AA;
}

.header-monitoring {
  display: flex;
}

#btnWeekly {
  width: 7rem;
  height: 2.2rem;
  font-size: 1.2rem;
  border: solid transparent;
  border-radius: 4rem 0 0 4rem;
  color: #aaa;
  cursor: pointer;
}

#btnWeekly:hover {
  background-color: #F9E4E4;
  color: rgb(72, 72, 72);
}

#btnMonthly {
  width: 7rem;
  height: 2.2rem;
  font-size: 1.2rem;
  border: solid transparent;
  border-radius: 0 4rem 4rem 0;
  color: #aaa;
  cursor: pointer;
}

#btnMonthly:hover {
  background-color: #F9E4E4;
  color: rgb(72, 72, 72);
}

.courses-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.section-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  background-color: #9abccc;
  width: 12rem;
  height: 6rem;
  border-radius: 1rem;

}
.header-product {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 139, 182, 49%);
  border-radius: 3rem;
  text-align: center;
  width: 8rem;
  height: 1.5rem;
  margin-top: 0.5rem;
}
#valueProduct {
  margin-top: 0.5rem;
  font-size: 2.2rem;
}

.section-mqty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  background-color: #9abccc;
  width: 12rem;
  height: 6rem;
  border-radius: 1rem;
}
.header-mqty {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 139, 182, 49%);
  border-radius: 3rem;
  text-align: center;
  width: 8rem;
  height: 1.5rem;
  margin-top: 0.5rem;
}
#valueMqty {
  margin-top: 0.5rem;
  font-size: 2.2rem;
}

.section-transaction {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  background-color: #9abccc;
  width: 12rem;
  height: 6rem;
  border-radius: 1rem;
}
.header-transaction {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 139, 182, 49%);
  border-radius: 3rem;
  text-align: center;
  width: 8rem;
  height: 1.5rem;
  margin-top: 0.5rem;
}

.section-rprice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  background-color: #9abccc;
  width: 12rem;
  height: 6rem;
  border-radius: 1rem;
}
.header-rprice {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 139, 182, 49%);
  border-radius: 3rem;
  text-align: center;
  width: 8rem;
  height: 1.5rem;
  margin-top: 0.5rem;
}

#chartPenjualan {
  background-color: white;
  border: solid transparent;
  border-radius: 1rem;
}


/* SECTION-ABOUT */
#about {
  position: relative;
}
#wave {
  width: 110rem;
}
.about-content h1{
  position: absolute;
  top: 8%;
  left: 5%;
  font-size: 3.5rem;
  font-weight: 800;
  color: #3C89AA;
}

.about-content p{
  position: absolute;
  top: 23%;
  left: 18%;
  color: #3C89AA;
  width: 20.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight:bold;
}

.about-content img{
  position: absolute;
  top: 5%;
  left: 55%;
  width: 30rem;
}

/* SECTION TEAM */
.header-content-team {
  text-align: center;
}

.header-content-team h1 {
  font-size: 2rem;
  color: #72ACC6;
}

.profile-team {
  display: grid;
  justify-items: center;
  grid-template-columns: 20rem 15rem 20rem 15rem;
  row-gap: 2rem;
  padding: 2.5rem;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 10rem;
  height: 10rem;
  border: solid transparent;
  border-radius: 100%;
  background-color: white;
}

.profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 1.2rem;
  text-align: center;
  border: solid transparent;
  border-radius: 2rem;
  background-color: #72ACC6;
  color: white;
  width: 12rem;
  height: 3rem;
}

.name p {
  font-size: 1rem;
}


/* FOOTER */
footer{
  position: relative;
  margin-top: 1.2rem;
  text-align: center;
  background-color: #72ACC6;
  height: 20rem;
}
  
.footer-content p {
  margin: 1rem;
  font-size: 1rem;
  color: #dbdbdb;
}


/* RESPONSIVE */
/* mobile */
@media (min-width: 600px){
  html{
      background-color: brown;
      font-size: 0.5rem;
  }

  .footer {
      position: relative;
      margin-top: 20px;
      margin-left: 325px;
      
    }
      
    .footer .made-by {
      margin-top: 15px;
      font-size: 13px;
      color: #aaa;
    }
}

/* tablet */
@media (min-width: 768px){
  html{
      background-color:cornflowerblue;
      font-size: 0.7rem;
  }

  .footer {
      position: relative;
      margin-top: 20px;
      margin-left: 325px;
      
    }
      
    .footer .made-by {
      margin-top: 15px;
      font-size: 13px;
      color: #aaa;
    }
}

/* laptop */
@media (min-width: 1024px){
  html{
      background-color:green;
      font-size: 1rem;
  }

  .footer {
      position: relative;
      margin-top: 20px;
      margin-left: 325px;
      
    }
      
    .footer .made-by {
      margin-top: 15px;
      font-size: 13px;
      color: #aaa;
    }
}