* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: row;
  transition: margin-left 0.3s ease;
}

aside {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

main {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  width: calc(100% - 13rem); /* menyeuaikan lebar main berdasarkan lebar sidebar */
}

.sidebar {
  background-image: linear-gradient(to bottom, #72ACC6 35%, #094058);
  width: 13rem; 
  height: 100%; 
  transition: transform 0.3s ease;
  flex-shrink: 0;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar-hidden {
  transform: translateX(-13rem); 
}

#sidebarToggle {
  position: fixed;
  top: 10px;
  left: 5px;
  z-index: 1001;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

#sidebarToggle .logo-sidebar {
  margin-top: 5px;
  opacity: 0.7;
  width: 40px;
  height: auto; 
  display: flex; 
}

.sidebar-hidden ~ main {
  width: 100%; 
  margin-left: 0;
}

main.with-sidebar {
  margin-left: 13rem; 
}

.menu {
  margin-top: 5rem;
  list-style: none;
  padding: 0;

}

.menu li {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1.2rem 0 0 1.2rem;
  background-color: white;
}

.menu li > img {
  width: 1.8rem;
}

.menu a {
  display: flex;
  align-items: center;
  color: #72ACC6;
  font-size: 1rem;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo h1 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 13rem);
  height: 100vh;
  background-color: rgb(218, 218, 218);
  overflow-x: hidden;
  transition: width 0.3s ease, margin-left 0.3s ease;

}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
  
  .content {
    margin-left: 200px;
  }

  #sidebarToggle .logo-sidebar {
    margin-top: 0;
    margin-left: 0;
    width: 30px;
  }

  main.with-sidebar {
    margin-left: 0; 
    width: 100%; 
  }

  .sidebar-hidden {
      transform: translateX(-100%); 
  }

}

/* SECTION-DASHBOARD */
#dashboard {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  background-color: white;
}

.header-dashboard {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

#dashboard h1{
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  color: #3C89AA;
}

.btnlokasiDashboard {
  margin-bottom: 1.2rem;
}

.btnlokasiDashboard select {
  width: 13rem;
  padding: 0.5rem;
  background-color: #fff;
  color: #72ACC6;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 5px 10px 0 rgba(9, 64, 88, 0.25);
  cursor: pointer;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  grid-gap: 20px; 
  align-items: center; 
  justify-content: center;
}

.salesByCategory-container, .chartMahcine-container, .typeTransaksi-container{
  max-width: 35rem;
  max-height: 20rem;
  width: 100% !important;
  height: 100% !important;
}

#salesByCategory, #chartMahcine, #typeTransaksi, #topProduct {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(9, 64, 88, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  width: 100% !important;
  height: 100% !important;
}

#topProduct_wrapper {
  margin: 1rem;
}

.dataTables_info {
  font-size: 0.8rem;
}

#topProduct_paginate a{
  font-size: 0.8rem;
  
}

#topProduct tr:nth-child(even) {
  background-color: #f2f2f2;
}

#topProduct th, #topProduct td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ddd;
}

.judulChart {
  color: #5c5c5c;
  text-align: center !important;
}

#topProduct {
  width: 100%;
  margin-top: 4rem;
}

/* SECTION-MONITORING DATA */
#monitoringData {
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

#monitoringData h1{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color: #3C89AA;
}

.header-monitoring input[type="radio"] {
  display: none;
}

.header-monitoring label {
  width: 7rem;
  height: 2.2rem;
  font-size: 1.2rem;
  border: solid transparent;
  background-color: white;
  color: #aaa;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 2.2rem;
  transition: background-color 0.3s, color 0.3s;
}

#btnWeekly {
  border-radius: 4rem 0 0 4rem;
}

#btnMonthly {
  border-radius: 0 4rem 4rem 0;
}

.header-monitoring label:hover {
  background-color: #F9E4E4;
  color: rgb(97, 97, 97);
}

.header-monitoring input[type="radio"]:checked + label {
  background-color: #F9E4E4;
  color: rgb(97, 97, 97);
}

.courses-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.section-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: #9abccc;
  width: 13rem;
  height: 6rem;
  border-radius: 1rem;

}
.header-product, .header-mqty, .header-transaction, .header-rprice {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 139, 182, 49%);
  border-radius: 3rem;
  text-align: center;
  width: 10rem;
  height: 1.5rem;
  margin-top: 0.5rem;
}
#valueProduct {
  margin-top: 0.5rem;
  font-size: 2.2rem;
}

.section-mqty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: #9abccc;
  width: 13rem;
  height: 6rem;
  border-radius: 1rem;
}

#valueMqty {
  margin-top: 0.5rem;
  font-size: 2.2rem;
}

.section-transaction {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: #9abccc;
  width: 13rem;
  height: 6rem;
  border-radius: 1rem;
}

#valueTransaction {
  margin-top: 0.5rem;
  font-size: 2.2rem;
}

.section-rprice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: #9abccc;
  width: 13rem;
  height: 6rem;
  border-radius: 1rem;
}

#valueRprice{
  margin-top: 0.5rem;
  font-size: 2.2rem;
}


/* ACTIVITY */
.activityContent {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#chartPenjualan {
  background-color: white;
  border: solid transparent;
  border-radius: 1rem;
  width: 100% !important;
  height: 100% !important;
  box-shadow: 5px 5px 10px rgb(9, 64, 88, 0.5);;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-left: 0.2rem;
  margin-top: 0.6rem;
}

.btnLokasiMonitoring select{
  width: 17rem;
  padding: 1rem;
  background-color: #9abccc;
  color: black;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
  cursor: pointer;
}
.btnMachineMonitoring select{
  width: 17rem;
  padding: 1rem;
  background-color: #9abccc;
  color: black;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
  cursor: pointer;
}
.btnCategoryMonitoring select{
  width: 17rem;
  padding: 1rem;
  background-color: #9abccc;
  color: black;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
  cursor: pointer;
}


/* SECTION-ABOUT */
#about {
  position: relative;
  background-color: white;
}
#wave {
  width: 110rem;
}

.about-content h1{
  position: absolute;
  top: 5%;
  left: 3%;
  font-size: 3.5rem;
  font-weight: 800;
  color: #3C89AA;
}

.about-content p{
  position: absolute;
  top: 23%;
  left: 18%;
  color: #3C89AA;
  width: 20.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight:bold;
}

.about-content img{
  position: absolute;
  top: 5%;
  left: 55%;
  width: 30rem;
}

/* SECTION TEAM */
.header-content-team {
  text-align: center;
}

.header-content-team h1 {
  font-size: 2rem;
  color: #72ACC6;
}

.profile-team {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  padding: 2.5rem;
}

@media (max-width: 1200px) {
  .profile-team {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .profile-team {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .profile-team {
    grid-template-columns: repeat(2, 1fr);
  }
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 10rem;
  height: 10rem;
  border: solid transparent;
  border-radius: 100%;
  background-color: white;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 1.2rem;
  text-align: center;
  border: solid transparent;
  border-radius: 2rem;
  background-color: #72ACC6;
  color: black;
  transition: color 0.1s ease;
  width: 12rem;
  height: 3rem;
  margin-top: 1rem;
}

.name:hover {
  color: white;
}

.name p {
  font-size: 1rem;
}


/* SECTION-SETTING */
#setting {
  padding: 5rem;
}

.header-setting {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.setting-content {
  width: 100%;
  max-width: 658px;
  border: solid transparent;
  background-color: #E1EEF3;
  border-radius: 20px;
  margin-bottom: 1rem;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
}

.setting-content p {
  color: #3C89AA;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
}

.device-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem 0;
}

.device-container div {
  text-align: center;
}

.device-container img {
  width: 50px;
  height: auto;
}

.phone-container img { width: 70px; height: 81px; }
.laptop-container img { width: 90px; height: 81px; }
.tablet-container img { width: 68px; height: 81px; }
.pc-container img { width: 91px; height: 81px; }

/* Personalization */
.personalization-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 482px;
  border: solid transparent;
  background-color: #E1EEF3;
  border-radius: 20px;
  margin-bottom: 1rem;
  position: relative;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}

.personalization-content p{
  color: #3C89AA;
  font-size: 1rem;
  margin-left: 5rem;
  margin-top: 1rem;
  text-align: left;
}

.personalization-image {
  width: 50px;
  height: auto;
  position: absolute;
  top: 1rem;
  /* left: 1rem; */
}

.mode-toggle {
 display: flex;
 gap: 1rem;
}

.mode-button {
  width: 4rem;
}

.personalization-image { width: 73px; height: 72px; }

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  #setting {
    padding: 2rem;
  }

  .header-setting {
    flex-direction: column;
    align-items: center;
  }

  .setting-content, .personalization-content {
    width: 90%;
  }

  .setting-content p {
    font-size: 1.2rem;
  }

  .device-container {
    flex-direction: column;
    align-items: center;
  }

  .device-container div {
    margin-bottom: 1rem;
  }

  .personalization-content p{
    margin-left: 0;
    text-align: center;
  }

  .personalization-image {
    position: static;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 480px) {
  .setting-content p {
    font-size: 1rem;
  }

  .device-container img {
    width: 40px;
    height: auto;
  }

  .personalization-content p {
    font-size: 0.8rem;
  }

  .personalization-image {
    width: 40px;
    height: auto;
  }
}

/* DARK MODE */
.body.dark-mode {
  background-color: #121212;
}

/* LIGHT MODE */
body.light-mode {
  background-color: #ffffff;
}

.dark-mode main{
  background-color: #333333;
}

/* Dark Mode Sidebar */
.dark-mode .sidebar {
  background-image: linear-gradient(to bottom, #333333 35%, #000000);
}

/* Dark Mode Content */
.dark-mode .setting-content,
.dark-mode .personalization-content {
    background-color: #474747;
    color: #ffffff;
}

.dark-mode #dashboard {
  background-color: #333333;
  color: #000000;
}

.dark-mode #topProduct_info{
  color: #72ACC6;
}

.dark-mode #topProduct_paginate a{
  color: #72ACC6 !important;
  background-color: #ffffff ;
}

.dark-mode #monitoringData {
  background-color: #333333;
}

.dark-mode #about {
  background-image: linear-gradient(to bottom, #333333 35%, #000000);
  color: #ffffff;
}

.dark-mode .header-content-team h1 {
  background-image: linear-gradient(to bottom, #333333 35%, #000000);
  color: #ffffff; 
}

.dark-mode .profile-team {
  background-color: #333333;
  color: #ffffff; 
}

.dark-mode #setting {
  background-image: linear-gradient(to bottom, #333333 35%, #000000);
  color: #ffffff; 
}

.dark-mode .setting-content p {
  color: #9abccc;
}

.dark-mode .personalization-content p {
  color: #9abccc;
}

.dark-mode footer {
  background-image: linear-gradient(to bottom, #333333 35%, #000000);
  color: #ffffff;
}

.dark-mode .footer-content p {
  color: #ffffff;
}




footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #72ACC6, #094058);
  height: 20rem;
}

.footer-content {
  display: flex;
  align-items: end;
  margin-right: 1.5rem;
}

.footer-content p {
  color: #dbdbdb;
}

.feedbackContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #dbdbdb;
}

.feedbackContent textarea {
  border: solid transparent;
  border-radius: 4px;
}

.feedbackContent button {
  margin-top: 0.5rem;
  border: solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

#feedback {
  resize: none;
}
.error{
  color: red;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border: solid transparent;
  border-radius: 4px;
  z-index: 1000;
}
.popup.show {
  display: block;
}
.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}
.overlay.show {
  display: block;
}


/* RESPONSIVE */
/* mobile */
@media (max-width: 600px){
  html{
      background-color: brown;
      font-size: 0.5rem;
  }

  .dashboard-content {
    display: grid;
    grid-template-rows: 30rem 30rem;
    justify-items: center;
  }

  .salesByCategory-container, .chartMahcine-container{
    max-height: 30rem;
    height: 100%;
  }

  #topProduct {
    max-width: 40rem;
    width: 100%;
  }

  .dataTables_info {
    font-size: 1.2rem;
  }
  
  #topProduct_paginate a{
    font-size: 1.2rem;
    
  }

  .courses-content p {
      font-size: 6px;
  }

  .footer {
      position: relative;
      margin-top: 20px;
      margin-left: 325px;

    }

    .footer-content p{
      font-size: 10px;
    }

    .feedbackContainer, label, span{
      width: 250px;
      font-size: 10px;
    }
      
    .footer .made-by {
      margin-top: 15px;
      font-size: 13px;
      color: #aaa;
    }
}

/* tablet */
@media (min-width: 768px){
  html{
      background-color:cornflowerblue;
      font-size: 0.7rem;
  }
  #topProduct {
    max-width: 40rem;
    width: 100%;
  }
  .salesByCategory-container, .chartMahcine-container, .typeTransaksi-container{
    max-width: 50rem;
    max-height: 40rem;
    width: 100% !important;
    height: 100% !important;
  }


  .footer {
      position: relative;
      margin-top: 20px;
      margin-left: 325px;
      
    }
      
    .footer .made-by {
      margin-top: 15px;
      font-size: 13px;
      color: #aaa;
    }
}

/* laptop */
@media (min-width: 992px){
  html{
      background-color:green;
      font-size: 1rem;
  }

  .salesByCategory-container, .chartMahcine-container, .typeTransaksi-container{
    max-width: 35rem;
    max-height: 20rem;
    width: 100% !important;
    height: 100% !important;
  }

  .footer {
      position: relative;
      margin-top: 20px;
      margin-left: 325px;
      
    }
      
    .footer .made-by {
      margin-top: 15px;
      font-size: 13px;
      color: #aaa;
    }
}
